<!DOCTYPE html>
<html>
	<head>
		<title>Title</title>
		<script src="react/umd/react.production.js"></script>
		<script src="react-dom/umd/react-dom.production.min.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="stylesheet" href="https://code.cdn.mozilla.net/fonts/fira.css">

		<style>
				.done {
					text-decoration: line-through;
				}

		</style>
	</head>
	<body>
		<div id="root">
			<marquee>Loading</marquee>
		</div>
		<script src="<%= bundleUrl %>"></script>
	</body>
</html>
